

*{
   box-sizing: border-box;
   padding:0;
   margin:0;
   max-width:100%;
   /* border:1px solid grey;  */
}

/*General Styles*/
html{
   font-size:62.5%;
}

.App{
  font-size: 2rem;
  /* font-family: sans-serif; */
  text-align: center;
}

/* header styles */
header{
  background-color: #000000;
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem 1rem .8rem 1rem;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

header a{
  color: #7c0000;
}

/* title/subtitle styles */
.title{
  padding: 5rem 3rem 3rem 3rem;
  background-color: #7c0000;
  color: white;
  font-faily: 'Pacifico', cursive;
}

.title h1{
  font-size: 5rem;
  font-family: 'Yeseva One', cursive;
}

.title h2{
  font-size: 2.3rem;
  font-family: 'Yeseva One', cursive;
}

.love{
  font-family: 'Pacifico', cursive;
}

.not{
  text-decoration: line-through;
}

/* button styles */
button {
  padding: .8rem 1.2rem .8rem 1.2rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 1.8rem;
  font-family: 'Yeseva One', cursive;
}
.buttons{
  padding-bottom: 5rem;
  background-color: #7c0000;
}

/* poem styles */
.poemContainer{
  padding: 6rem;
  margin: 5rem 22rem 7rem 22rem;
  background-image: url(./assets/oldpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
}

.poemTitle{
  font-size: 2.6rem;
  font-family: 'Cedarville Cursive', cursive;
}

.author{
  /* font-family: 'Montagu Slab', serif; */
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.poemContainer p{
  font-family: 'Cedarville Cursive', cursive;

}





